@use '../globals'as *;
@use '../utilities/mixin.scss'as *;



.testimonial {
    max-width: 940px;
    margin: 20px auto;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    &__item {
        padding: 16px;
        border-radius: 5px;
    }

    &__item--violet {
        @include grid-layout(1, 1, 2, 3, var(--color-violet), var(--color-white));
    }

    &__item--grey {
        @include grid-layout(1, 3, 2, 4, var(--color-grey), var(--color-white));
    }

    &__item--white-tall {
        @include grid-layout(1, 4, 3, 5, var(--color-white), var(--color-grey));
    }

    &__item--white {
        @include grid-layout(2, 1, 3, 2, var(--color-white), var(--color-grey));
    }

    &__item--dark-grey {
        @include grid-layout(2, 2, 3, 4, var(--color-dark-grey), var(--color-white));
    }
}