@use '../globals'as *;
@use '../utilities'as *;



.testimonial {
    width: 80%;
    max-width: 940px;
    margin: rem(20) auto;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

    }

    &__item--violet {
        @include grid-layout(1, 1, 2, 3, var(--color-violet), var(--color-white));

        @media screen and (max-width: 1024px) {
            grid-column: 1/3;
            grid-row: auto;
        }
    }

    &__item--grey {
        @include grid-layout(1, 3, 2, 4, var(--color-grey), var(--color-white));

        @media screen and (max-width: 1024px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    &__item--white-tall {
        @include grid-layout(1, 4, 3, 5, var(--color-white), var(--color-grey));

        @media screen and (max-width: 1024px) {
            grid-column: 2/3;
            grid-row: 3/4;
        }
    }

    &__item--white {
        @include grid-layout(2, 1, 3, 2, var(--color-white), var(--color-grey));

        @media screen and (max-width: 1024px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    &__item--dark-grey {
        @include grid-layout(2, 2, 3, 4, var(--color-dark-grey), var(--color-white));

        @media screen and (max-width: 1024px) {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }

    &__item {
        @media screen and (max-width: 768px) {
            grid-column: auto;
            grid-row: auto;

        }
    }
}

footer {
    margin: rem(40) 0;
    font-size: 3rem;
    text-align: center;

    a {
        font-size: 3rem;
    }
}