body {
    background-color: var(--color-bg);
}


.container {
    max-width: 920px;
    margin: 0 auto;
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}